.AuthMenu {
	position: absolute;
    right: 20px;
    top: 20px;
}

.AuthMenu a,
.AuthMenu span {
    color: rebeccapurple;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	font-family: 'Cabin', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Kanit', sans-serif;
}