html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    background-image:url("./Assets/gifsky.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: rgb(207, 247, 234); */
    font-family: 'Cabin', sans-serif;
    font-family: 'Caveat', cursive;
    font-family: 'Kanit', sans-serif;
}

p,h1,h2,span,textarea input{
    font-family: 'Cabin', sans- !important;
    font-family: 'Caveat', cursive !important;
    font-family: 'Kanit', sans-serif !important;
}

.Error {
    color: red;
    margin: 0 20px;
    position: absolute;
}

