
.EditVacation form {
    width: 250px;
    text-align: left;
    justify-content: center;
}
.EditVacation

    form > h2 {
    text-align: center;
}

form > input, form > button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}