/* .VacationCard >.container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    text-align: left;
    padding: 15px 20px;
    width: 300px;
    height: 250px;
    margin: 10px 10px;
    border-radius: 20px;
    font-size: x-small;
    background-color: bisque;
}

.VacationCard >.container:hover{
    box-shadow: 10px 10px 18px 10px rgba(91, 11, 95, 0.2);
} */

/* .VacationCard{
    font-family: Segoe Print;
    display: flex;
    justify-content: center;
    display: inline-block;
}
.VacationCard .target{
    font-weight: bold;
    margin-top: -5px;
    font-size: x-large;
}
.VacationCard img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    vertical-align: middle;
} */
.VacationCard {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 300px;
    font-family: Segoe Print;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 15px 20px;
    margin: 10px 10px;
    transition: transform 0.3s ease;
    margin-top: 80px;
  }
  
.VacationCard:hover {
    transform: translateY(-5px);
  }
  
  .card-link {
    text-decoration: none;
    color: inherit;
  }
  
  .card-header {
    position: relative;
  }
  
  .card-header .header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
  }
  
  .target {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .date-range {
    color: #ffffff;
    font-size: 14px;
  }
  
  .description {
    margin-top: 16px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .price {
    font-size: 14px;
    color: #4caf50;
    margin-top: 8px;
  }
  
  .card-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
  }
  
  .follow-button {
    color: #ff4081;
  }
  
  .unfollow {
    color: #ff4081;
  }
  
  .follow-count {
    font-size: 14px;
  }
  
  .admin-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(207, 247, 234);
  }
  
  @media (max-width: 767px) {
    .VacationCard {
      width: 100%;
    }
  }
  
  