
  .VacationCard {
    display: flex;
    justify-content: center;
    display: inline-block;
    width: 300px;
    font-family: 'Cabin', sans-serif;
	  font-family: 'Caveat', cursive;
	  font-family: 'Kanit', sans-serif;
    background-color: #f8fbfc !important;
    border: 1px solid #7ba1f3;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px 20px;
    margin: 10px 10px;
    transition: transform 0.3s ease;
    margin-top: 80px;
  }
  
  .VacationCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .VacationCard img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    vertical-align: middle;
}
  
  .card-link {
    text-decoration: none !important;
    color: inherit !important;
  }
  
  .card-header {
    position: relative !important;
  }
  
  .card-header .header-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
  }
  
  .target {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .date-range {
    color: #ffffff !important;
    font-size: 14px !important;
    z-index: 1000 !important;
  }
  
  .description {
    margin-top: 16px;
    font-size: 14px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .price {
    font-size: 20px !important;
    color: #0b19ad !important;
    margin-top: 8px !important;
  }
  
  .card-actions {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 8px;
  }
  
  .follow-button {
    color: #ff4081 !important;
  }
  
  .unfollow {
    color: #ff4081 !important;
  }
  
  .follow-count {
    font-size: 14px !important;
  }
  
  .admin-icons {
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
  }
  
  .admin-icons > .icon {
    background-color: rgb(207, 247, 234);
    border-radius: 50%;
  }
  
  @media (max-width: 767px) {
    .VacationCard {
      width: 100% !important;
    }
  }
  
  
  
  