.Register {
    /* background-image: url("../../../Assets/header2.jpg"); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    z-index: 1000;
}

.Register>form {
    width: 500px;
    height: 2000px;
    text-align: center;
    display: inline-block;
    margin: 40px auto;

}

.Register .TextBox,
.Btn {
    width: 100%;
    margin: 20px 0;
}

.Register .Btn {
    height: 40px;
    width: 140px;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: solid 1px rgb(58, 11, 178);
    border-radius: 5px;
    color: rgb(19, 27, 179);
    font-size: medium;

}

.Register h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(81, 29, 222);
}

.Register .SpanMessage {
    color: red;
    margin: 40px 0;
    position: absolute;
}

.Register .SpanUsernameMessage {
    color: red;
    margin: 80px 0;
    position: absolute;
}
